@model fa19projectgroup16.Transaction

@{
    ViewData["Title"] = "Transfer";
}

<h1>Create</h1>

<h4>Transfer</h4>
<h4>For Account No.: @ViewBag.AccountNumber</h4>
@ViewBag.HasOtherAccounts
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" value="@ViewBag.AccountNumber" name="accountNumber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Error != null)
            {
                <p class="alert-warning">@ViewBag.Error</p>
            }
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            @if (ViewBag.MaxContribution != null)
            {
                <input asp-for="Amount" value="@ViewBag.MaxContribution" class="form-control" />
            }
            else
            {
                <input asp-for="Amount" class="form-control" />
            }
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TransactionType, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @if (ViewBag.HasOtherAccounts)
                    {
                        <label class="radio">@Html.RadioButtonFor(model => model.TransactionType, TransactionType.Deposit) Deposit</label>
                        <label class="radio">@Html.RadioButtonFor(model => model.TransactionType, TransactionType.Withdrawal) Withdrawal</label>
                        <label class="radio">@Html.RadioButtonFor(model => model.TransactionType, TransactionType.Transfer) Transfer</label>
                    }
                    else
                    {
                        <label class="radio">@Html.RadioButtonFor(model => model.TransactionType, TransactionType.Deposit) Deposit</label>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
